name: CI Release Pipeline

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

env:
  APP_VERSION: ${{ github.ref_name }}

jobs:
  build_frontend:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: ./frontend/package-lock.json
    
    - name: Update package.json version
      run: |
        npm version ${{ env.APP_VERSION }}
      working-directory: ./frontend
    
    - name: Install dependencies
      run: npm install
      working-directory: ./frontend
    
    - name: Build the app
      run: npm run build
      working-directory: ./frontend
    
    - name: Upload frontend artifact
      uses: actions/upload-artifact@v4
      with:
        name: frontend-build
        path: ./frontend/dist
        retention-days: 1

  build_backend:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    
    - name: Publish the app
      run: dotnet publish -c Release --property:PublishDir=publish
      working-directory: ./backend
    
    - name: Upload backend artifact
      uses: actions/upload-artifact@v4
      with:
        name: backend-build
        path: ./backend/ParkNDeploy.Api/publish
        retention-days: 1

  trigger_cd_pipeline:
    runs-on: ubuntu-latest
    needs: [build_frontend, build_backend]
    
    steps:
    - name: CI completed
      run: |
        echo "CI completed"
